/**
 * 
 *  Global styles
 *
 */
@import 'variables';

html, body {
  background: #777;
  font-family: $font-signika;
  font-size: $fz-normal;
  font-weight: $fw-light;
  color: $fc-primary;
  line-height: $lh-16;
}

h1, h2, h3, h4, h5 {
	font-weight: $fw-light;
}
h1 { font-size: $fz-h1; }

p {
  padding: $paragraph-padding;
}