/**
 * 
 *  Global styles
 *
 */
@import 'variables'; 

html, body {
  font-family: $font-signika;
  font-size: $fs-normal;
	font-weight: $fw-light;
	color: $fc-primary;
	line-height: $lh-16;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: $fw-light;
}