/**
 *
 *  Variables
 *
 */

// Global font - Signika

// Fonts import - comment unnecessary
@import url('https://fonts.googleapis.com/css?family=Signika:300,400,600,700&subset=latin-ext');
$font-signika: 'Signika', sans-serif;

/**
*
* Typography
*
*/

// Weights
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 600;
$fw-bold: 700;

// Sizes
$fz-mini: 14px;
$fz-small: 18px;
$fz-normal: 20px;
$fz-medium: 24px;
$fz-large: 28px;
$fz-xlarge: 34px;
// Headers
$fz-h1: 3.1rem;
$fz-h2: 2.8rem;
$fz-h3: 2rem;
$fz-h4: 1.6rem;
$fz-h5: 1.1rem;

// Colors
$fc-body: rgba(0,0,0,0.8);

// Spacing
$lh-16: 1.6;

$paragraph-padding: 0 0 1rem 0;
$button-padding: 0.7rem 1.3rem;
$button-no-padding: 0.5rem 0.7rem 0.7rem;

/*
*
* Colors
*
*/
$brand-primary: #1184FE;
$brand-secondary: #666;
$color-green: #2dce00;
$color-red: #f30000;
$brand-secondary-lighten: lighten(#666, 40%);

$button-color-text: #fff;




/*
*
* Theme specified values
*
*/

$menu-padding: 1rem;
$portfolio-item-width: 420px;


/* Social hint dimensions */
$social-width: 100px;
$social-height: 35px;

