/*
*
* Buttons styles
*
*/
@import '../variables';

.button {
	padding: $button-padding;
  background-color: $brand-secondary-lighten;
  border: 1px solid $brand-secondary-lighten;
  color: #fff;
  line-height: 1;
  font-size: $fz-small;
  font-weight: $fw-normal;
}

.button--primary {
	border: 1px solid $brand-primary;
	background-color: $brand-primary;
	color: #fff;
}
.button--green {
  border: 1px solid $color-green;
  background-color: $color-green;
  color: #fff;
}

.button--outline {
	background: transparent;
  color: $brand-secondary;
}
.button--text {
  background-color: transparent;
  border: 0;
  color: inherit;
  font-weight: $fw-light;
  padding: $button-no-padding;
}
.button--text.button--green {
  color: $color-green;
}

.button__icon {
  max-width: 18px;
  max-height: 18px;
  margin-bottom: -2px;
  margin-left: 10px;
}

.button__icon--left {
  max-width: 26px;
  max-height: 26px;
  margin-bottom: -7px;
  margin-right: 5px;
}

.button__icon--back {
  max-width: 26px;
  max-height: 26px;
  margin-bottom: -2px;
  margin-right: 5px;
}

.button__icon--dimmed {
  opacity: .3;
}

.button--block {
  display: block;
}

.button--loading {
  transition: opacity 0.3s;
  opacity: 0.6;
  animation: pulse 0.4s infinite;
}

@keyframes pulse {
  50%   { transform: scale(0.94, 0.94); }
}


/*
*
* Button Spacing
*
*/

.button + .button {
  margin-left: 16px
}


/*
 *
 * Button action effects
 *
*/
.button {
  &:hover {
    background: darken($brand-secondary-lighten, 6%);
  }
  &.button--primary:hover {
    background: darken($brand-primary, 6%);
  }
  &.button--green:hover {
    background: darken($color-green, 3%);
  }
  &.button--outline:hover {
    background: rgba(0,0,0,.04);
  }
  &.button--text:hover {
    background: transparent;
    padding-left: 1rem;
  }
  transition: all 0.16s ease-in;
}
