/*
*
* Icon styles
*
*/
// @import '../variables';

.icon-set {
	display: block;
	position: relative;
	align-self: center;
	max-width: 100%;
	width: 380px;
	height: 320px;
	margin: 0 auto;

	.icon-set__icon--feather-sm { top: 0; left: 8%; }
}

.icon-set__icon {
	display: block;
	position: absolute;
}

.icon-set__icon--tl { 	top: 9%; 	left: 24%; 	}
.icon-set__icon--tr { 	top: 1%; 	left: 67%; 	}
.icon-set__icon--ml {	top: 52%;	left: 0;	}
.icon-set__icon--m  { 	top: 36%; 	left: 42%;	}
.icon-set__icon--mr { 	top: 39%; 	left: 92%;	}
.icon-set__icon--bl { 	top: 89%;	left: 36%;	}
.icon-set__icon--br { 	top: 84%;	left: 84%; 	}
