/*
*
* Menu styles
*
*/
@import '../variables'; 

.menu {
	width: 100%;
	padding: $menu-padding 0;
  height: 50px;
}

.menu__brand {
	line-height: 1.2;
}

.menu__brand small {
	display: block;
	font-size: $fz-mini;
}

.menu__trigger {
	float: right;
  padding: $button-no-padding;
  border: 0;
  opacity: 0.16;
  color: #000;
  font-size: 15px;
  font-weight: $fw-normal;

  &:after {
    content: '';
    width: 18px;
    height: 13px;
    background: url('../images/icon-menu.svg') no-repeat 0 0;
    background-size: 18px 13px;
    display: inline-block;
    margin-left: 8px;
    margin-bottom: -1px;
  }
  
  &:hover {
    opacity: 0.62;
  }
}