/*
*
* Portfolio item styles
*
*/
@import '../variables'; 

.screen--portfolio-item {
	text-align: center;
}

.container--portfolio-item {
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.portfolio__header {
	margin-top: 3rem;
	margin-bottom: 0.6rem;
}

.portfolio__image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 2rem auto;
	padding-bottom: 1rem;
}

.tools {
	display: block;
	width: 100%;
	margin: 0;
}

.tools_item {
	display: inline-block;
	margin: 0.4rem 1.6rem 1rem;
	font-size: $fz-small;
}