/*
*
* Portfolio item styles
*
*/
@import '../variables'; 

.screen--portfolio-item {
	text-align: center;
}

.container--portfolio-item {
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.portfolio__item-name {
  font-size: $fz-h3;
}

.portfolio__header {
	margin-top: 3rem;
	margin-bottom: 0.6rem;
  font-size: $fz-h4;
}

.portfolio__image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 2rem auto;
	padding-bottom: 1rem;
}

.portfolio__live-at {
  word-wrap:break-word;
}

.tools {
	display: block;
	width: 100%;
	margin: 0;
}

.tools_item {
	display: inline-block;
	margin: 0.4rem 1.6rem 1rem;
	font-size: $fz-small;
}

.portfolio--code-at {
	display: none;
}

.portfolio--code-hidden {
	display: block;
	margin: 2rem auto;
	max-width: 360px;
	padding: 1rem;
	background-color: #F7F7F7;
	border: 1px solid #DADADA;
	border-radius: 8px;
	color: #7B7B7B;
	font-size: 18px;
	line-height: 1.3;	
}
.portfolio--code-link {
	display: block;
	margin: 1rem auto 3rem;
}
.portfolio--no-code-info img {
	margin: 0 auto 0.2rem;
}
.portfolio--no-code-info p:last-child {
	padding-bottom: 0;
}

@media (min-width: 576px) {
  .portfolio__item-name {
    font-size: $fz-h1;
  }
  .portfolio__header {
    margin-top: 3rem;
    margin-bottom: 0.6rem;
    font-size: $fz-h3;
  }
}
