/**
*
* Section Component Styles
*
*/
@import '../variables'; 

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 32px;
	box-sizing: border-box;
  background-color: #fff;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 700px;
}
.section--left {
  .section__text {
    order: 1;
  }
  .section__media {
    order: 2;
  }
}

.section__text {
  order: 2;
	width: 50%;
  padding: 0 2rem 3rem;
  box-sizing: border-box;

  p {
    padding-bottom: 1rem
  }
}

.section__title {
  color: $brand-primary;
}

.section__media {
  order: 1;
  width: 50%;
  text-align: center
}


.gradient-image {
  height: 100vh;
  position: relative;
  background: -moz-linear-gradient(45deg, #ededed 0%, #fff 100%);
  background: -webkit-linear-gradient(45deg, #ededed 0%,#fff 100%);
  background: linear-gradient(45deg, #ededed 0%,#fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29000000', endColorstr='#00000000',GradientType=1 );
  
  .container {
    background: transparent;
  }

  &:after {
    content: '';
    width: 21px;
    height: 34px;
    background: url('../images/icon-scroll.svg') no-repeat center top;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -10px;
    animation: scroll-bounce 4s infinite;
  }
}

@keyframes scroll-bounce {
  84%   { transform: translateY(0); }
  88%   { transform: translateY(5px); }
  92%   { transform: translateY(0); }
  96%   { transform: translateY(5px); }
  100%   { transform: translateY(0); }
}